{% extends 'front/header.html' %}

{% block content %}


  <!-- Swiper-->
  <section class="section swiper-container swiper-slider swiper-slider-4" data-loop="true" data-effect="fade">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-1" data-slide-bg="/static/front/images/slider/slide-1.jpg">
        <div class="swiper-slide-caption section-md text-sm-left">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7">
                <h1 class="swiper-title-1" data-caption-animate="fadeInLeft" data-caption-delay="100">Cake Pop</h1>
                <h6 class="swiper-title-2 text-width-medium" data-caption-animate="fadeInLeft" data-caption-delay="250">Small but tasty.</h6>
                <div class="button-wrap" data-caption-animate="fadeInLeft" data-caption-delay="400"><a class="button button-sm button-primary button-zakaria" href="/productlist/?id={{8}}">Shop now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-1" data-slide-bg="/static/front/images/slider/slide-2.jpg">
        <div class="swiper-slide-caption section-md text-sm-left">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7">
                <h1 class="swiper-title-1" data-caption-animate="fadeInLeft" data-caption-delay="100">Donuts</h1>
                <h6 class="swiper-title-2 text-width-medium" data-caption-animate="fadeInRight" data-caption-delay="250">Happiness in every bite.</h6>
                <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-sm button-primary button-zakaria" href="/productlist/?id={{5}}">Shop now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-1" data-slide-bg="/static/front/images/slider/cake1.jpg">
        <div class="swiper-slide-caption section-md text-sm-left">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7">
                <h1 class="swiper-title-1" data-caption-animate="fadeInLeft" data-caption-delay="100">Delicious Cakes</h1>
                <h6 class="swiper-title-2 text-width-medium" data-caption-animate="fadeInRight" data-caption-delay="250">  Scrumptiousness In Every Bite.</h6>
                <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-sm button-primary button-zakaria" href="/productlist/?id={{2}}">Shop now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-1" data-slide-bg="/static/front/images/slider/bcake.jpg">
        <div class="swiper-slide-caption section-md text-sm-left">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7">
                <h1 class="swiper-title-1" data-caption-animate="fadeInLeft" data-caption-delay="100">Birthday Cake</h1>
                <h6 class="swiper-title-2 text-width-medium" data-caption-animate="fadeInRight" data-caption-delay="250">  Wish Someone Sweetly.</h6>
                <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-sm button-primary button-zakaria" href="/productlist/?id={{1}}">Shop now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </section>
  <!-- What We Offer-->
  <section class="section section-xxl section-xxl-2 bg-default text-md-left">
    <div class="container">
      <div class="row row-70 row-lg-70 justify-content-center align-items-md-center">
        <div class="col-sm-8 col-md-5 col-xl-6">
          <div class="decorative-box"><img class="box-shadow-1" src="/static/front/images/about/about.jpg" alt="" /> </div>
        </div>
        <div class="col-md-7 col-xl-6">
          <h2 class="text-transform-capitalize wow fadeInRight">What We Offer</h2>
          <!-- Bootstrap collapse-->
          <div class="cach-group-custom cach-group-corporate" id="accochion1" role="tablist" aria-multiselectable="false">
            <!-- Bootstrap cach-->
            <article class="cach cach-custom cach-corporate wow fadeInRight" data-wow-delay=".1s">
              <div class="cach-header" role="tab">
                <div class="cach-title"><a id="accochion1-cach-head-kjcqalpj" data-toggle="collapse" data-parent="#accochion1" href="#accochion1-cach-body-dtbcfbyf" aria-controls="accochion1-cach-body-dtbcfbyf" aria-expanded="true" role="button">Occasion Cakes
                  <div class="cach-arrow">
                    <div class="icon"></div>
                  </div>
                  </a></div>
              </div>
              <div class="collapse show" id="accochion1-cach-body-dtbcfbyf" aria-labelledby="accochion1-cach-head-kjcqalpj" data-parent="#accochion1" role="tabpanel">
                <div class="cach-body">
                  <p>Explore our specially designed cakes to make every moment unforgettable. From birthdays to weddings, we have the perfect cake for your celebration.
                  </p>
                </div>
              </div>
            </article>
            <!-- Bootstrap cach-->
            <article class="cach cach-custom cach-corporate wow fadeInRight" data-wow-delay=".2s">
              <div class="cach-header" role="tab">
                <div class="cach-title"><a class="collapsed" id="accochion1-cach-head-vwsbunqx" data-toggle="collapse" data-parent="#accochion1" href="#accochion1-cach-body-itmlyfpl" aria-controls="accochion1-cach-body-itmlyfpl" aria-expanded="false" role="button">Indulge in Every Bite
                  <div class="cach-arrow">
                    <div class="icon"></div>
                  </div>
                  </a></div>
              </div>
              <div class="collapse" id="accochion1-cach-body-itmlyfpl" aria-labelledby="accochion1-cach-head-vwsbunqx" data-parent="#accochion1" role="tabpanel">
                <div class="cach-body">
                  <p>Satisfy your sweet cravings with our range of cupcakes, donuts, and jar cakes. Each bite is a journey into a world of flavors and textures.</p>
                </div>
              </div>
            </article>
            <!-- Bootstrap cach-->
            <article class="cach cach-custom cach-corporate wow fadeInRight" data-wow-delay=".3s">
              <div class="cach-header" role="tab">
                <div class="cach-title"><a class="collapsed" id="accochion1-cach-head-akngkvnq" data-toggle="collapse" data-parent="#accochion1" href="#accochion1-cach-body-hqwvfdxh" aria-controls="accochion1-cach-body-hqwvfdxh" aria-expanded="false" role="button">Innovative Delights
                  <div class="cach-arrow">
                    <div class="icon"></div>
                  </div>
                  </a></div>
              </div>
              <div class="collapse" id="accochion1-cach-body-hqwvfdxh" aria-labelledby="accochion1-cach-head-akngkvnq" data-parent="#accochion1" role="tabpanel">
                <div class="cach-body">
                  <p>Discover our modern twists on classic treats with Cakesicles and Cake Pops. Unique, delicious, and perfect for adding flair to any celebration.</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="row row-30 margin_top50">
            <div class="col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay=".2s">
              <article class="box-icon-creative">
                <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                  <div class="unit-left">
                    <div class="box-icon-creative-icon restaurant-icon-27"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-icon-creative-title">Free Shipping</h4>
                    <p class="box-icon-creative-text">Enjoy our fast &amp; free delivery</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
              <article class="box-icon-creative">
                <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                  <div class="unit-left">
                    <div class="box-icon-creative-icon restaurant-icon-22"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-icon-creative-title">Fresh &amp; Tasty</h4>
                    <p class="box-icon-creative-text">Only the freshest ingredients</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-4 col-lg-4 wow fadeInLeft">
              <article class="box-icon-creative">
                <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                  <div class="unit-left">
                    <div class="box-icon-creative-icon restaurant-icon-23"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-icon-creative-title">Made with love</h4>
                    <p class="box-icon-creative-text">Prepared with care for our clients</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- New Flavors-->
  <section class="section section-xxl bg-primary-2">
   <div class="container">
     <h2 class="text-transform-capitalize wow fadeScale">Our Products</h2>
     <div class="row row-lg row-30 row-lg-50">
       <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
         <article class="product wow fadeInRight">
            <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-2.png" alt="" width="125" height="125"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{1}}">Birthday Cake</a></h5>
              <!-- <div class="product-price-wrap">
                <div class="product-price product-price-old">$30.00</div>
                <div class="product-price">$17.00</div>
              </div> -->
            </div>
            <!-- <span class="product-badge product-badge-sale">Sale</span> -->
            <div class="product-button-wrap">
              <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
              <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{1}}"></a></div>
            </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
          <article class="product wow fadeInRight" data-wow-delay=".1s">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-0.png" alt="" width="220" height="220"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{2}}">Wedding Cake</a></h5>
              <!-- <div class="product-price-wrap">
                <div class="product-price">$13.00</div>
              </div> -->
            </div>
            <div class="product-button-wrap">
              <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
              <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{2}}"></a></div>
            </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product -->
         <article class="product wow fadeInRight" data-wow-delay=".2s">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-7.png" alt="" width="145" height="163"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{3}}">Cartoon Cake</a></h5>
             <!-- <div class="product-price-wrap">
               <div class="product-price">$17.00</div>
             </div> -->
           </div>
           <div class="product-button-wrap">
             <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
             <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{3}}"></a></div>
           </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
          <article class="product wow fadeInRight" data-wow-delay=".3s">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-8.png" alt="" width="165" height="120"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{4}}">Cupcake</a></h5>
              <!-- <div class="product-price-wrap">
                <div class="product-price">$14.00</div>
              </div> -->
            </div>
            <div class="product-button-wrap">
              <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
              <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{4}}"></a></div>
            </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
          <article class="product wow fadeInLeft" data-wow-delay=".3s">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-1.png" alt="" width="140" height="140"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{5}}">Donut</a></h5>
              <!-- <div class="product-price-wrap">
                <div class="product-price">$11.00</div>
              </div> -->
            </div>
            <div class="product-button-wrap">
              <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
              <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{5}}"></a></div>
            </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
         <article class="product wow fadeInLeft" data-wow-delay=".2s">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-10.png" alt="" width="220" height="220"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{6}}">Jar Cake</a></h5>
             <!-- <div class="product-price-wrap">
               <div class="product-price">$15.00</div>
             </div> -->
           </div>
           <div class="product-button-wrap">
             <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
             <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{6}}"></a></div>
           </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
         <article class="product wow fadeInLeft" data-wow-delay=".1s">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-11.png" alt="" width="170" height="170"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{7}}">Cakesicles</a></h5>
             <!-- <div class="product-price-wrap">
               <div class="product-price">$22.00</div>
             </div> -->
           </div>
           <div class="product-button-wrap">
             <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
             <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{7}}"></a></div>
           </div>
         </article>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <!-- Product-->
          <article class="product wow fadeInLeft">
           <div class="product-body">
             <div class="product-figure"><img src="/static/front/images/shop/shop-12.png" alt="" width="146" height="135"/> </div>
             <h5 class="product-title"><a href="/productlist/?id={{8}}">Cake Pops</a></h5>
             <!-- <div class="product-price-wrap">
                <div class="product-price">$10.00</div>
             </div> -->
            </div>
            <div class="product-button-wrap">
              <div class="product-button"><a class="button button-gray-14 button-zakaria fl-bigmug-line-search74" href="/gallery/"></a></div>
              <div class="product-button"><a class="button button-primary-2 button-zakaria fl-bigmug-line-shopping202" href="/productlist/?id={{8}}"></a></div>
            </div>
         </article>
       </div>
     </div>
   </div>
  </section>

  <section class="section bg-brown-1 call_section_1">
    <div class="parallax-content section-xxl context-dark">
      <div class="container">
        <h3 class="text-spacing-100">Divine <span class="font-weight-light">Cupcakes Collection</span> </h3>
        <h6 class="font-weight-light">Indulge in a Symphony of Flavors and Delight Your Senses.</h6>
        <a class="button button-sm button-shadow-2 button-primary button-zakaria" href="/productlist/?id={{4}}">Shop Now</a> </div>
    </div>
  </section>
  <!-- Masonry Gallery-->
  <section class="section section-xxl bg-default">
    <div class="container">
      <h2 class="text-transform-capitalize wow fadeScale">Gallery</h2>
      <div class="isotope-wrap">
        <div class="row row-30 isotope isotope-custom-1" data-lightgallery="group">
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/bc.jpg" alt="" width="270" height="250"/> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Birthday Cakes</a></h5>
                  <!-- <div class="thumbnail-classic-price">$8.99</div> -->
                  <!-- <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/image-1.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/image-1.jpg" alt="" width="270" height="250"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/doll1.jpg" alt="" width="270" height="530"/> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Cartoon Cakes</a></h5>
                  <!-- <div class="thumbnail-classic-price">$12.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/image-2.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/image-2.jpg" alt="" width="270" height="530"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/jar.jpg" alt="" width="270" height="250"/> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Jar cakes</a></h5>
                  <!-- <div class="thumbnail-classic-price">$10.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/image-3.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/image-3.jpg" alt="" width="270" height="250"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/cp3.jpg" alt="" width="270" height="250"/> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Cake Pops</a></h5>
                  <!-- <div class="thumbnail-classic-price">$13.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/image-4.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/image-4.jpg" alt="" width="270" height="250"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/image-5.jpg" alt="" width="270" height="250"/> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">CupCakes</a></h5>
                  <!-- <div class="thumbnail-classic-price">$14.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/image-5.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/image-5.jpg" alt="" width="270" height="250"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-6 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/wd4.jpg" alt="" width="570" height="530"> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Wedding Cakes</a></h5>
                  <!-- <div class="thumbnail-classic-price">$16.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/g2.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/g2.jpg" alt="txt" width="570" height="530"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><img src="/static/front/images/masonry-gallery/d1.jpg" alt="" width="270" height="250"/> </div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Donuts</a></h5>
                  <!-- <div class="thumbnail-classic-price">$10.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/d3.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/d1.jpg" alt="" width="570" height="250"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item">
            <!-- Thumbnail Classic-->
            <article class="thumbnail-classic block-1">
              <div class="thumbnail-classic-figure"><a href="/gallery/"><img src="/static/front/images/masonry-gallery/ck.jpg" alt="" width="270" height="250"/> </a></div>
              <div class="thumbnail-classic-caption">
                <div>
                  <h5 class="thumbnail-classic-title"><a href="/gallery/">Cakesicles</a></h5>
                  <!-- <div class="thumbnail-classic-price">$10.99</div>
                  <div class="thumbnail-classic-button-wrap">
                    <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/static/front/images/masonry-gallery/d3.jpg" data-lightgallery="item"><img src="/static/front/images/masonry-gallery/d1.jpg" alt="" width="570" height="250"/></a></div>
                    <div class="thumbnail-classic-button"><a class="button button-secondary-3 button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                  </div> -->
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Subscribe to Our Newsletter-->
  <section class="parallax-container ">
    <div class="call_section">
    <div class="parallax-content section-xxl context-dark text-lg-left">
      <div class="container">
        <div class="row row-30 justify-content-center align-items-center align-items-lg-end">
          <div class="col-xl-4">
            <h2 class="parallax-title text-center text-xl-left wow fadeInLeft" data-wow-delay=".1s">Get in Touch</h2>
          </div>
          <div class="col-xl-8 inset-lg-bottom-10">
            <!-- RD Mailform-->
            <form action="/contact/" class="ch-form ch-mailform ch-form-inline ch-form-inline-3 form-lg" data-form-type="subscribe" method="post" id="contact">
              {% csrf_token %}
              <div class="form-wrap wow fadeInUp">
                <input class="form-input" id="login-name" type="text" name="name" data-constraints="@Required"/>
                <label class="form-label" for="login-name">Your name</label>
              </div>
              <div class="form-wrap wow fadeInUp">
                <input class="form-input" id="login-name" type="text" name="message" data-constraints="@Required"/>
                <label class="form-label" for="login-name">Your message</label>
              </div>
              <div class="form-wrap wow fadeInUp">
                <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required"/>
                <label class="form-label" for="contact-email">Your e-mail address</label>
              </div>            
              <div class="form-button wow fadeInRight text-center">
                {{ forms }}
                <input type="submit" value="send request" class="button button-zakaria button-sm button-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <br>



 {% endblock %}
